.serv-container{
    width: 80%;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    margin-bottom: 10vh;
}
.card-serv{
    padding-left:10px;
    padding-right: 20px;
    height: fit-content;
}
.img-serv img{
    width:100%;
    height: 30vh;
}
.card-serv h3{
    letter-spacing: 2px;
    opacity: 50%;
    font-size: 15px;
}
.card-serv hr{
    width: 15vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.card-serv h2{
    margin-bottom: 2vh;
}
.card-serv p{
    margin-bottom: 2vh;
    opacity: 70%;
    font-size: 15px;
}
.text-serv{
    /* padding-right: 15px; */
    width: fit-content;
}

@media (max-width: 800px) {
    .serv-container{
        margin-top: 20vh;
        grid-template-columns: 1fr, 1fr ;
    }
}

@media (max-width: 767px) {
    .serv-container{
        grid-template-columns: 1fr ;
    }
}